
body{
    background-image: url(../src/imagen/art-artistic-beautiful-311458.jpg);
    background-size: 100%
    
}
h1,h3 {
    color: black;
    text-align: center;
    font-family: 'Antic', sans-serif;
}
input[type="number"] {
    background-color: rgb(243, 217, 209);
    color: black;
    border: none;
}
p{
    color: black;
    font-family: 'Antic', sans-serif;
}
.app{
    text-align: center;
}
button{
    padding: 1%;
    border-radius: 7px;
    font-size: 20px;
    margin: 2% 2% 1% 2%;
    font-family: 'Antic', sans-serif;
    background-color: antiquewhite;
    
}
.primer-bloque {
    text-align: center;
}
.text_show{
    padding: 2%;
    border: 2px;
    border-radius: 7px;
    text-align: center;
    color: black;
    


}
.bye{
    display: none;
}
textarea {
    background-color: #eccecad0;
    text-align: left;
    border-color: black;
    font-size: 20px;
    font-family: 'Antic', sans-serif;
    resize: none;
    width: 45%; height:100%; border: 2px solid #990000;    
}
.segundo-bloque {
    text-align: center;
}
   
    
